demo/* linguist-documentation
docs/* linguist-documentation
docker/* linguist-documentation
logo/* linguist-documentation
examples/* linguist-documentation
images/* linguist-documentation
movies/* linguist-documentation
notebooks/* linguist-documentation
webapp/* linguist-vendored
*.jl linguist-language=Julia